{% extends "layout.html" %}
{% load static %}


{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "item/detail_customer.css" %}">
{% endblock %}

{% block content %}
    <div class="content_detail">

        <div class="content_detail_up">
            {{ customer.name }}<br>
            {{ customer.tel }}<br>
            {{ customer.address }}<br>
            <hr>

                거래 상품 목록
        </div>

        <div class="content_detail_down">
            <a href="{% url "item:list_customer" %}">목록</a>
            <a href="{% url "item:edit_customer" customer.pk %}">수정</a>

        </div>
    </div>
{% endblock %}