{% extends "layout.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "item/detail_item.css" %}">
{% endblock %}

{% block content %}
    <div class="content_detail">
        <div class="content_detail_up">
            <img src="{{ item.photo.url }}" style="max-width:100%; max-height: 150px; margin: 0 auto;"><br>
            <h2>{{ item.title }}</h2>
            <p>가격 : {{ item.price }}</p>
            <p>수량 : {{ item.rest_quantity }}</p>
            <p>제품 설명 : {{ item.content }}</p>
            <p><a href="{% url "item:detail_customer" item.customer.pk %}">거래처 : {{ item.customer.name }}</a></p>
        </div>
        <div class="content_detail_down">
            <form action="{% url "item:edit_item" item.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="수정">
            </form>
            <form action="{% url "item:list_item" %}" method="GET">
                {% csrf_token %}
                <input type="submit" value="목록">
            </form>

            <form action="{% url "item:delete_item" item.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="삭제">
            </form>
        </div>
    </div>
{% endblock %}