{% extends "layout.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "item/detail_item.css" %}">
{% endblock %}

{% block content %}
    <div class="content_detail">
        <div class="content_detail_up">
            <img src="{{ item.photo.url }}" style="max-width:100%; max-height: 150px;"><br>
            <h2>{{ item.title }}</h2>
            가격 : {{ item.price }}<br>
            수량 : {{ item.rest_quantity }}<br>
            제품 설명 : {{ item.content }}<br>
            거래처 : {{ item.customer.name }}<br>
        </div>
        <div class="content_detail_down">
            <form action="{% url "item:edit_item" item.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="수정">
            </form>
            <form action="{% url "item:list_item" %}" method="GET">
                {% csrf_token %}
                <input type="submit" value="목록">
            </form>

            <form action="{% url "item:delete_item" item.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="삭제">
            </form>
        </div>
    </div>
{% endblock %}