{% extends "layout.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static "item:detail_customer.css" %}">
    <div class="content_create_item " >

            <h2>제품 등록</h2>

            <form action="" method="post" enctype="multipart/form-data" autocomplete="off" >
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <input type="submit" value="저장하기" class="btn btn-primary"/>
            </form>


    </div>

{% endblock %}
