{% extends 'layout.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static "item/list_customer.css" %}">
{% endblock %}

{% block content %}

    <div class="list_content">
        {% for customer in customer_list %}
            <div class="list_customerbox">
                <div class="list_customerbox_name"><a href="{% url "item:detail_customer" customer.pk %}"><h2>{{ customer.name }}</h2></a></div>
                <div class="list_customerbox_tel"><p>{{ customer.tel }}</p></div>
                <div class="list_customerbox_address"><p>{{ customer.address }}</p></div>

            </div>
        {% endfor %}
    </div>




{% endblock %}